[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.app div {
  border-radius: 10px;
}
canvas {
  min-height: 300px;
}
.graph {
  max-height: 500px;
}
.legend {
  height: inherit;
  min-height: 100px;
  max-height: 300px;
  overflow: scroll;
}
.stats {
  overflow: scroll;
}
table th {
  white-space: nowrap;
  overflow: visible;
}

.workbook {
  background-color: rgba(224, 224, 224, 0.5);
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
}
