<select ng-init="ctrl.rangeType = ctrl.ranges[0]" ng-model="ctrl.rangeType" ng-options="r for r in ctrl.ranges" ng-change="ctrl.refreshGraph()"></select>
<!-- <select ng-model="ctrl.selectedYear" ng-options="x for x in ctrl.years" ng-change="ctrl.refreshGraph()"></select> -->

<div ng-switch on="tab.content" ng-if="ctrl.values.claims.length > 0">
  <div ng-switch-when="line">
	<select ng-init="ctrl.filterType = 'Airline Name'" ng-model="ctrl.filterType" ng-options="f for f in ctrl.filterOptions" ng-change="ctrl.refreshGraph()"></select>
    <canvas id="line" class="chart chart-line" chart-data="ctrl.data" chart-labels="ctrl.labels"
      chart-series="ctrl.series" chart-options="ctrl.options" chart-dataset-override="ctrl.datasetOverride" chart-click="ctrl.onClick" ng-cloak>
    </canvas>
  </div>

  <div ng-switch-when="bar">
	<select ng-init="ctrl.filterType = 'Airport Code'" ng-model="ctrl.filterType" ng-options="f for f in ctrl.filterOptions" ng-change="ctrl.refreshGraph()"></select>
    <canvas id="bar" class="chart chart-bar" chart-data="ctrl.data" chart-labels="ctrl.labels" ng-cloak>
    </canvas>
  </div>
</div>
