<html ng-app="tsa" ng-cloak>
  <head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <title>TSA Claims</title>
  </head>
  <body>
    <div class="container">
      <div class="tabs" ng-controller="TabsController">
        <md-tabs md-selected="selectedIndex" md-border-bottom>
          <md-tab ng-repeat="tab in tabs"
                  ng-disabled="tab.disabled"
                  label="{{tab.title}}">

              <div ng-controller="GraphController">
                <select ng-model="selectedYear" ng-options="x for x in years" ng-change="updateGraph()">

                </select>
                <canvas id="line" class="chart chart-line" chart-data="data"
                  chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
              </div>
          </md-tab>
        </md-tabs>
      </div>

      <div class="workbook" ng-controller='WorkbookController'>
        <js-xls onread="read" onerror="error"></js-xls>
      </div>
    </div>
    <!--Core Angular components-->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/js-xlsx/dist/xlsx.core.min.js"></script><!--SheetJs library-->
    <script src="https://unpkg.com/angular-js-xlsx/angular-js-xlsx.js"></script><!--Angular directive for SheetJs -->
    <script type="text/javascript" src="bower_components/chart.js/dist/Chart.js"></script>
    <script type="text/javascript" src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/controllers/TabsController.js"></script>
    <script type="text/javascript" src="js/app/controllers/WorkbookController.js"></script>
    <script type="text/javascript" src="js/app/controllers/GraphController.js"></script>
    <script type="text/javascript" src="js/app/services/ClaimsDataService.js"></script>
    <script type="text/javascript" src="js/app/services/WorkbookService.js"></script>

  </body>
</html>
