<div ng-switch on="tab.content" ng-if="ctrl.values.claims.length > 0">
  <div ng-switch-when="line">
  	<select ng-init="ctrl.filterType = 'Airline Name'" ng-model="ctrl.filterType" ng-options="f for f in ctrl.filterOptions" ng-change="ctrl.refreshGraph()"></select>
    <canvas id="line" class="chart chart-line" chart-data="ctrl.data" chart-labels="ctrl.labels"
      chart-series="ctrl.series" chart-options="ctrl.options" chart-dataset-override="ctrl.datasetOverride" chart-click="ctrl.onClick" ng-cloak>
    </canvas>
  </div>

  <div ng-switch-when="bar">
  	<select ng-init="ctrl.groupType = 'Airport Code'" ng-model="ctrl.groupType" ng-options="f for f in ctrl.groupOptions" ng-change="ctrl.refreshGraph()"></select>
    <canvas id="bar" class="chart chart-bar" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-series="ctrl.series"  chart-options="ctrl.options" ng-cloak>
    </canvas>
  </div>
</div>

<div class="legend">
  <input type="text" name="seriesFilter" ng-model="ctrl.seriesFilter"/>
  <ul ng-repeat="s in ctrl.series | filter: ctrl.seriesFilter">
    <li>{{s}}</li>
  </ul>
</div>

<form ng-submit="ctrl.addData()">
  Report a Claim <br>
  <input type="text" ng-model="ctrl.newClaim['Incident Date']" placeholder="Incident Date" name="date"/>
  <input type="text" ng-model="ctrl.newClaim['Airport Code']" placeholder="Airport Code" name="airportCode"/>
  <input type="text" ng-model="ctrl.newClaim['Close Amount']" placeholder="Value" name="value"/>
  <input type="submit" id="submit" value="Submit" />
</form>
