<div class="content">
  <div class="graph" ng-switch="tab.content" ng-if="ctrl.values.claims.length > 0">
    <div class= "col-md-9" ng-switch-when="line">
      <canvas id="line" class="chart chart-line" chart-data="ctrl.data" chart-labels="ctrl.labels"
        chart-series="ctrl.series" chart-options="ctrl.options" chart-dataset-override="ctrl.datasetOverride" chart-click="ctrl.onClick" ng-cloak>
      </canvas>
    </div>

    <div class= "col-md-9" ng-switch-when="bar">
      <canvas id="bar" class="chart chart-bar" chart-data="ctrl.data" chart-labels="ctrl.labels" chart-series="ctrl.series"  chart-options="ctrl.options" ng-cloak>
      </canvas>
    </div>

    <div class= "col-md-9" ng-switch-when="line-average">
      <canvas id="line" class="chart chart-line" chart-data="ctrl.data" chart-labels="ctrl.labels"
        chart-series="ctrl.series" chart-options="ctrl.options" chart-dataset-override="ctrl.datasetOverride" chart-click="ctrl.onClick" ng-cloak>
      </canvas>
    </div>

    <div ng-switch-when="new">
      <ng-include src="'views/form.html'"></ng-include>
    </div>
  </div>

  <div ng-if="tab.content !== 'new'">
    <ng-include src="'views/legend.html'"></ng-include>
    <ng-include src="'views/stats.html'"></ng-include>
  </div>
</div>
