<div class="col-md-3 col-med-pull-left legend">
  <label>Data grouped by: </label>
  <select ng-model="ctrl.groupType" ng-options="f for f in ctrl.groupOptions" ng-change="ctrl.regroup()"></select><br>
  <input type="checkbox" name="toggleAll" ng-checked="ctrl.keys.length" ng-click="ctrl.toggleAllKeys()">
  <label>View/Hide All {{ctrl.groupType}}s</label> <br>
  <input type="text" ng-model="ctrl.selectSeries" placeholder="Search {{ctrl.groupType}}s" name="selectSeries"/>
  <ul ng-repeat="seriesName in ctrl.allSeries | filter: ctrl.selectSeries">
    <input type="checkbox"
           name="{{seriesName}}"
           value="{{seriesName}}"
           ng-checked="ctrl.keys.indexOf(seriesName) + 1"
           ng-click="ctrl.toggleKeys(seriesName)" />
           {{seriesName}}
  </ul>
</div>
