<div class="stats col-md-12">
  Statistics
  <md-tabs md-selected="selectedStats" md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="tab in ctrl.statTabs"
            ng-disabled="tab.disabled"
            label="{{tab.title}}">
        <md-tab-body>

          <div ng-switch="tab.content">
            <div ng-switch-when="global">
              <ng-include src="'views/stats/global.html'"></ng-include>
            </div>
            <div ng-switch-when="local">
              <ng-include src="'views/stats/local.html'"></ng-include>
            </div>

        </md-tab-body>
    </md-tab>
  </md-tabs>

</div>
