<table class="table table-striped table-bordered">
  <caption ng-if="ctrl.type === 'line'">Statistics from Total Claim Values Per Month</caption>
  <caption ng-if="ctrl.type === 'bar'">Statistics from Total Claim Counts Per Month</caption>
  <tr>
    <th></th>
    <th ng-repeat="label in ctrl.labels">{{label}}</th>
  </tr>
  <tr>
    <td>Averages</td>
    <td ng-repeat="stat in ctrl.globalStats[0] track by $index">{{stat}}</td>
  </tr>
  <tr>
    <td>Standard Deviation</td>
    <td ng-repeat="stat in ctrl.globalStats[1] track by $index">{{stat}}</td>
  </tr>
</table>
